.primary {
    border-radius: 30px;
    color: white;
    border: none;
    padding: 14px;
    font-weight: 700;
    background-color: #b8472c;
    cursor: pointer;
}

.secondary {
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #8a7d68;
    background-color: #efe6d3;
    cursor: pointer;

    &.selected {
        color: #ffffff;
        background-color: #b8472c;
    }
}

.tertiary {
    border-radius: 10px;
    border: 1.5px dashed rgb(203, 184, 145);
    padding: 10px;
    background-color: transparent;
    color: #7d7263;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.round {
    width: 24px;
    height: 24px;
    color: rgb(184, 71, 44);
    border-style: none;
    border-radius: 100%;
    background-color: antiquewhite;
    background: rgb(241, 230, 210);
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
}
