.card {
    align-items: center;
    background-color: #fffdf666;
    height: 190px;
    width: 260px;
    border: 1px dashed;
    border-radius: 8px;
    color: #8a7d68;
    cursor: pointer;
}

.plus {
    font-size: 34px;
    color: #6d8a5a;
    font-weight: 500;
}

.text {
    font-size: 22px;
    color: #8a7d68;
    font-family: 'Caveat', cursive;
}
