.title {
    font-size: 32px;
    font-family: Caveat, cursive;
    font-weight: 400;
}

.list {
    width: 100%;
    overflow-x: auto;
    padding-block: 20px;
}

.card {
    flex: 0 0 200px;
    height: 220px;
}

.columnInCard {
    width: 100%;
}

.image {
    width: 100%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;

    .emoji {
        font-size: 55px;
    }
}

.name {
    font-size: 22px;
    font-family: Caveat, cursive;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bottomRow {
    width: 100%;
    align-items: center;
}

.date {
    font-size: 12px;
    color: rgb(169, 157, 137);
}

.price {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(184, 71, 44);
}
